.container {
  padding: 0 2rem;
}

.hero{
  min-height: 40vh;
  margin: 10px 0;
}

.categoryPagesFilter{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.newsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.individualNew{
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  font-size: 0.8rem;
  margin: 1em 0;
}

.newImage{
  max-width: 30em;
}

.newImage img{
  max-width: 30em;
}

.newInfos{
  align-self: flex-start;
  width: 30em;
}

.filterForm label{
  display: block;
  width: 20vw;
}

@media screen and (max-width: 768px){
  .hero{
    display: flex;
    place-content: center;
  }

  .newsContainer{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .individualNew{
    grid-column: 2;
    grid-template-columns: 1;
  }

  .newImage{
    grid-row: 1;
  }

  .newInfos{
    grid-row: 2;
  }
}